/*1.- EJEMPLO POR ID*/
#footer
{

    margin-top: 100px;

}


/*2.- EJEMPLO POR UN DIV IDENTIFICADO POR LA CLASE "AVATAR-BG" */
div.avatar-bg {
    background: url(https://www.gravatar.com/avatar/1234566?size=200&d=mm);
    background-position: 50% 50%;
    height: 200px;
    width: 200px;
    background-size: cover;
    border-radius: 50%;
    margin-left: calc(50% - 100px);
  }


/*3.- EJEMPLO POR SELECCION DIVIVIDO EN COMAS*/
h1.hero-title, h2.hero-title, h3.hero-title {
    text-shadow: 0 3px 3px rgba(0,0,0,0.4);
    color: #fff;
  }


/*4.- EJEMPLO POR DOS TIPOS DE CLASES*/
.footer-navigation p.company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin-top: 20px;
  }


/*5.- EJEMPLO POR ELEMENTO <FOOTER>*/
footer {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
    bottom: 0;
    color: #fff;
  }


/*6.- EJEMPLO POR IMAGEN O MULTIMEDIA DENTRO DE LA CLASE W-LG-75 */
@media (min-width: 992px) {
    .w-lg-75 {
      width: 75%;
    }
  }


/*7.- EJEMPLO POR UN ID REFERENCIADO POR LA IMAGEN O MULTIMEDIA*/
@media (max-width: 991.98px) {
    #bg-block {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }



  
  table {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #d4d4d4;
    font-size: 20px;
    background: #fff;
  }
  
  table th, 
  table tr:nth-child(2n+2) {
    background: #e7e7e7;
  }
   
  table th, 
  table td {
    padding: 20px 50px;
  }
   
  table th {
    border-bottom: 1px solid #d4d4d4;
  }     
  
  .stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
  }
  
  .stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
  }
  
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }
  
  .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
  }
  
  .attribution {
    font-size: 12px;
    color: #444;
    text-decoration: none;
    text-align: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: -1;
  }
  .attribution:hover {
    color: #1fa67a;
  }

  .fa-apply {
    font-family: 'FontAwesome', 'Second Font name'
  }